@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header {
    height: 100%;
}

.section-one {
    background-image: url(../img/jumbotron.jpg);
    height: 400px;
    background-position: top;
    background-size: cover;
    position: relative;

    .title-relative {
        background-color: $color-theme;
        width: fit-content;
        padding: 10px 20px;
        position: absolute;
        bottom: -25px;
    }
}

.section-two {
    background-color: $color-footer;
    padding: 50px 20px 50px 20px;

    img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}